* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid>.table-title {
    height: 100px;
    background-color: rgb(11, 137, 95);
    color: #ffffff;
}

.container-fluid>.table-title>.row {
    margin: 0;
}

.container-fluid>.table-title>.row>.col-sm-5,
.col-sm-7 {
    padding-top: 25px;
}

.table thead {
    background-color: rgb(37, 37, 244);
    color: white;
}

.container-fluid>.table-title>.row>.col-sm-5 {
    padding-left: 15px;
}

.container-fluid>.table-title>.row>.col-sm-7 {
    text-align: right;
}

table th {
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

label.error {
    color: #ff0015;
    font-style: italic;
    font-size: small;
}

#createErr label.error {
    color: #5e0008;
    display: list-item;
    font-style: italic;
    font-size: medium;
    margin-left: 30px;
}

.modal-alert-danger {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffcaca;
}

.footer-body{
    background-color: rgb(233 233 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.footer-body div {
    margin-left: 10px;
}

table td span.unselected {
    border-left-color: #dfdfdf;
}

table td span.selected {
    border-left-color: #5cb85c;
}

table td span.select-tab {
    border-left-width: 7px;
    border-left-style: solid;
    min-width: 0;
    display: block;
    height: 24px;
    margin: 0 0 0 -4px;
    padding: 0;
}

#frmDelete input {
    border: none;
}